div.columns(v-cloak="")
  div.column.is-12
    messages(v-bind:messages="messages")

    div.card

      header.card-header
        p.card-header-title Model Actions

      div.card-content
        h2.subtitle Train Model

        div.control(style="margin-bottom: 1em;")
          block select-format-area

        button.button.is-primary(
          style="margin-top: 1em;"
          type="submit"
          v-on:click="download()"
          v-bind:class="{'is-loading': isLoading}"
        ) Train
